- content_for :head do
  = javascript_include_tag 'charCount'
  = javascript_include_tag 'friends'

%h1 Your Friends
%p Anyone you follow on Twitter will show up here when they join.

- if @friends.empty?
  %p.sorry Sorry. It looks like none of your friends have signed up.
- else
  %ul.friends
    - @friends.each do |friend|
      %li[friend]
        %img{ :src => friend.profile_image_url }
        = display_name(friend)
        has signed up for #{friend.conference_sessions.length} sessions

%p.big
  Want more friends to join? 
= twitter_share_button
