-# - content_for :above_nav do
  .site_header
    %h1 Welcome to RubyConfirmate

%h1 Why use RubyConfirmate?
%ul.features
  %li Compare sessions for a time slot
  %li See who's going to what
  %li Keep track of the sessions you're going to
%p.big
  Get started now! You can
  = link_to('browse sessions', conference_sessions_path)
  or
  = succeed '.' do
    = link_to('see who you know', friends_path)
  %br
  So far there's #{pluralize User.count, 'person'} here, who've signed up for
  = succeed '.' do
    = pluralize Attendance.count, 'session'
%p
  We'll ask you to log in with your Twitter account so we can connect you with the people you're following. We promise we'll never tweet anything without your permission.

