- show_controls = true if show_controls.nil?
- time = conference_sessions.first.start_time
- div_id = "timeslot_#{time.to_s(:number)}"

.conference_session{ :id => div_id }
  .top_data
    .time.meta
      = time_link(time, format_time(conference_sessions.first))
  - conference_sessions.each do |conference_session|
    .option{:id => "conference_session_#{conference_session.id}"}
      .summary
        = link_to( conference_session.summary, conference_session, :remote => true )
      - if show_controls and current_user
        = render :partial => 'conference_sessions/controls', :locals => {:conference_session => conference_session}
      .clear
      .description
      .bottom_data
        .presenters.meta
          = conference_session.presenters
          \-
          = conference_session.location
        .attendees.meta
          = friends_text( conference_session, :hide_self => !show_controls )
