%h1 Sessions for #{format_time(@conference_sessions.first, :include_day => true)}

- @conference_sessions.each do |session|
  .metadata
    .presenters.meta
      = session.presenters
    .location.meta
      = session.location
    .summary
      = session.summary
    .controls
      - if session.attendees.include?(current_user)
        %a.attendance.yes{ :href => '/' } I'm Going
      - else
        %a.attendance.no{ :href => '/' } Choose this session
  .details
    .description
      = simple_format @conference_session.description, {}, :sanitize => false
    .attendees
      - unless session.attendees.empty? || (session.attendees.length == 1 and session.attendees.include? current_user)
        %h3 Who's Going?
        %ul
          - friend_list( session ).each do |friend|
            %li= friend
