!!!
%html
  %head
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'mobile'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold&subset=latin'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic&subset=latin'

    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'
    = javascript_include_tag "http://platform.twitter.com/widgets.js"
    = javascript_include_tag :defaults
    = yield :head

    %meta{:name=>"viewport",:content=>"width = device-width, initial-scale = 1.0"}
    
    %title
      RubyConfirmate
      = " - #{@title}" if @title
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8817824-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body{ :class => controller.controller_name }
    = yield :above_nav
    .navigation
      %ul
        %li.home{ :class => current_if_controller('welcome') }<>
          .block<>
            = link_to('', '/')
        %li.sessions{ :class => current_if_controller('conference_sessions') }<>
          .block<>
            = link_to('', '/conference_sessions')
        %li.schedule{ :class => current_if_controller('schedule') }<>
          .block<>
            = link_to('', '/schedule')
        %li.friends{ :class => current_if_controller('friends') }<>
          .block<>
            = link_to('', '/friends')
    .main
      = yield
    - if current_user
      .current_user
        .info
          Logged in as #{display_name current_user}
          \|
          = link_to 'Log out', logout_path, :class => 'logout'
