!!!
%html
  %head
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold&subset=latin'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic&subset=latin'
  %body.welcome
    .header
      %h1 Welcome to ConfCal
    .navigation
      %ul
        %li.presentations<>
          .block<>
            = link_to('Sessions', '/conference_sessions')
        %li.schedule<>
          .block<>
            = link_to('Schedule', '/schedule')
        %li.friends<>
          .block<>
            = link_to('Friends', '/friends')

    .main
      = yield

